:host ::ng-deep {
	ion-content {
		--padding-top: 5vh;
		line-height: 1.7;
		p {
			line-height: 1.7;
			margin: 30px 0;
		}

		ul {
			list-style: none;
			padding: 0;
			li{
			    background: url(/assets/img/list-check.png) no-repeat left 0.4rem;
			    padding-left: 33px;
			    padding-bottom: 11px;
			    background-size: 15px 12px;
			    /* font-family: Helvetica, sans-serif; */
			    font-size: 14px;
			}
		}
	}
}