<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- Does not work with #backButton -->
      <ion-back-button id="backButton" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      About CreditSpring
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div padding>
		<h2 text-center padding-bottom>Our Mission</h2>
		<div text-center>
			<img src="/assets/img/growth-cl.svg" width="180" alt="">
		</div>
		<p>What use is a credit score if you need to jump through loops and holes to access it? If you can’t understand how your score affects you, or how it can be improved—is it a true representation of you?</p>

		<p>We believe in empowering Aussies with:</p>

		<ul class="list-unstyled list-checked">
	        <li>Easy, instant access to their credit score.</li>
	        <li>100% transparency.</li>
	        <li>The resources needed to build knowledge &amp; confidence when it comes to their financial well-being. </li>
	    </ul>
	</div>

    <div color="primary">
        <h2 text-center padding-horizontal padding-bottom>Who is CreditSpring?</h2>
        <img src="/assets/img/thumb-who.png" alt="">
        <div padding-horizontal>
        	<p>Behind the scenes, we’re a young, passionate, food-loving team, obsessed with helping Aussies save money and live well. </p>
        	<p>Our team works with credit reporting agency, Experian, to provide you with free, instant access to your credit score—anytime, anywhere. For your transparency, we get paid a small percentage if you accept an offer on our site. This helps us pay our bills and deliver the best service we possibly can. </p>
        	<p>Not only does CreditSpring provide you with your credit score, but also a report summary, handy tips, resources, tools, and offers—so that you can get a sense of your current situation and learn how to improve it. </p>  
        </div>      
    </div>

    <div padding>
    	<h2 text-center padding-bottom>Our Story</h2>
    	<div text-center>
    		<img src="/assets/img/story-graphic.svg" width="180" alt="">
    	</div>

    	<p>If lenders can use your credit score to determine whether they’ll help you and how much they’ll help you—who helps the consumer? We saw an opportunity to step in, do the research and expose the mystery of credit scoring.</p>

    	<p>You have a right to know your credit score and where you stand in the eyes of lenders so that you can make decisions accordingly. Your actions—from applying for a loan to selecting a credit limit, to when you do either—can alter your credit score. So, if your credit score determines the future steps you take, it only makes sense that you know it. And what happens if your credit score changes? Again, you should be the first to know.</p>

    	<p>The barriers between Aussies and their credit scores—like being charged for access or being unaware of the crucial basics—motivated us to do something.</p>

    	<p>And then… CreditSpring was born.</p>
    </div>
</ion-content>
