<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- Does not work with #backButton -->
      <ion-back-button id="backButton" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Credit Score
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col>
				<div text-center>
					<h1>Welcome back, Jonathan</h1>
				</div>
				<img src="/assets/img/creditscore.png" alt="">	
				<div text-center>
					<p><strong>Your score has unlocked a few offers, Azhari. 
					What are you interested in?</strong></p>
				</div>		
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-card>
	    <ion-img src="https://dev.creditspring.com.au/assets/img/dashboard_img_1.png"></ion-img>
	    <ion-card-header>
	        <ion-card-title>Compare Health Insurance and Save!</ion-card-title>
	    </ion-card-header>
	    <ion-card-content>
	        <p>Interested in saving hundreds on your health insurance policy? Speak to one of our health insurance advisors and you could save $320 in 15 minutes!</p>
	        <p padding-top><ion-button expand="full" color="secondary">Compare Now</ion-button></p>
	    </ion-card-content>
	</ion-card>

	<ion-card>
	    <ion-img src="https://dev.creditspring.com.au/assets/img/dashboard_img_2.png"></ion-img>
	    <ion-card-header>
	        <ion-card-title>Compare Energy Prices & Start Saving Today!</ion-card-title>
	    </ion-card-header>
	    <ion-card-content>
	        <p>At Electricityandgas.com.au, we understand that life is busy. This is why we are here to help you handle the time consuming paperwork once you have made your decision on an energy plan.</p>
	       	<p padding-top><ion-button expand="full" color="secondary">Compare Now</ion-button></p>
	    </ion-card-content>
	</ion-card>

	<ion-card>
	    <ion-img src="https://dev.creditspring.com.au/assets/img/dashboard_img_3.png"></ion-img>
	    <ion-card-header>
	        <ion-card-title>Looking for Life Insurance?</ion-card-title>
	    </ion-card-header>
	    <ion-card-content>
	        <p>Most Australians are inadequately prepared for the financial devastation that follows when losing a loved one. When a family loses one income due to injury or death, the ripple effect can be huge.</p>
	       	<p padding-top><ion-button expand="full" color="secondary">Compare Now</ion-button></p>
	    </ion-card-content>
	</ion-card>

	<ion-card>
	    <ion-img src="https://dev.creditspring.com.au/assets/img/dashboard_img_4.png"></ion-img>
	    <ion-card-header>
	        <ion-card-title>Looking to Buy or Refinance?</ion-card-title>
	    </ion-card-header>
	    <ion-card-content>
	        <p>Whether it’s your first home or you’re refinancing an existing loan, let us help you with your home loan decision through a phone consultation with a licensed home loan professional.</p>
	       	<p padding-top><ion-button expand="full" color="secondary">Compare Now</ion-button></p>
	    </ion-card-content>
	</ion-card>

	<ion-card>
	    <ion-img src="https://dev.creditspring.com.au/assets/img/dashboard_img_5.png"></ion-img>
	    <ion-card-header>
	        <ion-card-title>Compare Broadband Plans & Save!</ion-card-title>
	    </ion-card-header>
	    <ion-card-content>
	        <p>Kids need the internet for homework? Can’t live without Netflix? Or maybe you just want to do some light browsing on Facebook? We’ll help you find a plan that matches your needs.</p>
	       	<p padding-top><ion-button expand="full" color="secondary">Compare Now</ion-button></p>
	    </ion-card-content>
	</ion-card>

	<ion-card>
	    <ion-img src="https://dev.creditspring.com.au/assets/img/dashboard_img_6.png"></ion-img>
	    <ion-card-header>
	        <ion-card-title>We help you compare credit cards.</ion-card-title>
	    </ion-card-header>
	    <ion-card-content>
	        <p>Finding a better credit card shouldn't be a daunting task. That's why we put ease of use, speed, fairness, and transparency at the very core of what we do.</p>
	       	<p padding-top><ion-button expand="full" color="secondary">Compare Now</ion-button></p>
	    </ion-card-content>
	</ion-card>

</ion-content>
