<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- Does not work with #backButton -->
      <ion-back-button id="backButton" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<h1 text-center>Oh, hello. Thanks for stopping by.</h1>
	<p text-center padding-top><strong>Enquiries? Just saying hi? We'd love to hear from you.</strong>
If you have questions, feedback, proposals, or free food, get in touch. Sharing is caring.</p>
	<form action="">
		<ion-item>
		  <ion-input required type="text" placeholder="First Name" name="name"></ion-input>
		</ion-item>
		<ion-item>
		  <ion-input required type="email" placeholder="Email" name="email"></ion-input>
		</ion-item>
		<ion-item>
		  <ion-input required type="text" placeholder="Subject" name="subject"></ion-input>
		</ion-item>
		<ion-item>
		  <ion-textarea placeholder="Message" name="message"></ion-textarea>
		</ion-item>
		<p>
			<ion-button expand="full" color="secondary" href="/register" style="color: #fff">Submit</ion-button>
		</p>
	</form>
</ion-content>
