<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header  color="primary">
        <ion-toolbar  color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content color="primary">
        <ion-list  color="primary">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages"  color="primary">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]"  color="primary">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
