<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- Does not work with #backButton -->
      <ion-back-button id="backButton" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      How it Works
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-slides pager="true">

		<ion-slide>
		  <ion-grid>
		    <ion-row>
		      <ion-col>
		        <div class="slide-thumbnail">
		          <img src="/assets/img/id-card.svg" alt="">
		        </div>
		      </ion-col>
		    </ion-row>
		    <ion-row>
		        <ion-col>
		          <h1>Enter a few details & grab your credit score, instantly, for free.</h1>
		          <p>We collect a few details to verify your ID (which keeps our service safe, secure & simple) and you’re ready to go. No bank or credit cards needed—you can keep those in your wallet as you’ll never pay a cent.</p>
		        </ion-col>
		      </ion-row>
		  </ion-grid>
		</ion-slide>

		<ion-slide>
		  <ion-grid>
		    <ion-row>
		      <ion-col>
		        <div class="slide-thumbnail">
		          <img src="/assets/img/chat.svg" alt="">
		        </div>
		      </ion-col>
		    </ion-row>
		    <ion-row>
		        <ion-col>
		          <h1>Tell us what you’re after & we’ll focus on just that.</h1>
		          <p>Our service is more than just a tool to access important data. It’s designed to be tailored to your situation. We recognise your needs are unique, and we want to dive deep so you have the best shot at achieving your financial goals while getting the most from your money.</p>
		        </ion-col>
		      </ion-row>
		  </ion-grid>
		</ion-slide>

		<ion-slide>
		  <ion-grid>
		    <ion-row>
		      <ion-col>
		        <div class="slide-thumbnail">
		          <img src="/assets/img/piggy-bank.svg" alt="">
		        </div>
		      </ion-col>
		    </ion-row>
		    <ion-row>
		        <ion-col>
		          <h1>Check out what’s on offer, save & improve your credit score.</h1>
		          <p>Whether you’re shopping for a loan, credit, or preparing for future applications, we can help you polish up your credit score for success. Let us keep you updated on important matters and changes to credit scoring in Australia and teach you everything we know.</p>
		        </ion-col>
		      </ion-row>
		  </ion-grid>
		</ion-slide>

		<ion-slide>
		  <ion-grid>
		    <ion-row>
		      <ion-col>
		        <div class="slide-thumbnail">
		          <img src="/assets/img/handshake.svg" alt="">
		        </div>
		      </ion-col>
		    </ion-row>
		    <ion-row>
		        <ion-col>
		          <h1>Everyone wins.</h1>
		          <p>You learn how to improve your credit score & save money. If an awesome deal catches your eye, grab it right away. When you sign up on our site, we receive a small fee from the lender, and they get a new customer—all while you save.</p>
		        </ion-col>
		      </ion-row>
		  </ion-grid>
		</ion-slide>

	</ion-slides>
</ion-content>
