:host ::ng-deep {
	ion-content {
		--background: url('/assets/img/Bg_1.png')  center no-repeat;
		--background-size: cover!important;
		--color: #fff;
	}

	.slides {
		height: 88vh;

		.slide-thumbnail {
			background: #fff;
			padding: 20px;
			width: 200px;
			height: 200px;
			line-height: 250px;
			border-radius: 100%;
			margin: 0 auto;
			text-align: center;

			img {
				width: 70%;
				display: inline-block;
			}
		}

		.swiper-pagination-bullet-active {
			background: #fff!important;
		}
	}
}