<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="creditspring">
  <ion-slides pager="true">

    <ion-slide>
      <ion-grid>
        <ion-row align-items-center>
          <ion-col>
            <div class="slide-thumbnail">
              <img src="/assets/img/d_1.png" alt="">
            </div>
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col>
              <h1>Get Financially Informed</h1>
              <p>Our dashboard helps you understand your credit score and report, as well as how to improve it.</p>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-slide>
  
    <ion-slide>
      <ion-grid>
        <ion-row align-items-center>
          <ion-col>
            <div class="slide-thumbnail">
              <img src="/assets/img/d_2.png" alt="">
            </div>
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col>
              <h1>Grab Your Credit Score</h1>
              <p>Aussies should have the right to a FREE credit score, anytime and anywhere. And now they do.</p>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-slide>
  
    <ion-slide>
      <ion-grid>
        <ion-row align-items-center>
          <ion-col>
            <div class="slide-thumbnail">
              <img src="/assets/img/d_3.png" alt="">
            </div>
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col>
              <h1>Compare Offers & Save</h1>
              <p>Get personalised offers as your credit score changes & save serious money on household bills.</p>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row align-items-center>
            <ion-col>
              <h1>Login to Your Account</h1>
              <ion-item>
                <ion-input required type="email" placeholder="Email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input required type="password" placeholder="Password"></ion-input>
              </ion-item>
              <ion-button color="secondary" expand="full" href="/login">Continue</ion-button>
              <p padding-top text-center>Haven’t registered?</p>
              <ion-button expand="full" color="light" href="/register" style="color: #fff">Signup Now</ion-button>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
