<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- Does not work with #backButton -->
      <ion-back-button id="backButton" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-grid>
        <ion-row align-items-center>
            <ion-col>
              <h1>Let's start with your email</h1>
              <ion-item>
                <ion-input required type="email" placeholder="Email"></ion-input>
              </ion-item>
              <ion-button color="secondary" expand="full" (click)="presentAlert()">Continue</ion-button>
              <p padding-top text-center>OR REGISTER WITH SOCIAL MEDIA</p>
              <ion-button expand="full" class="facebook"><ion-icon  slot="start" name="logo-facebook"></ion-icon> Sign up with Facebook</ion-button>
              <ion-button expand="full" class="google"><ion-icon  slot="start" name="logo-google"></ion-icon> Sign up with Google</ion-button>
            </ion-col>
          </ion-row>
      </ion-grid>
</ion-content>
