:host ::ng-deep {
	ion-content {
		--background: url('/assets/img/Bg_1.png')  center no-repeat;
		--background-size: cover!important;
		--color: #fff;
		--padding-top: 20vh;

		.facebook {
			--background: #3b5998;
			--color: #fff;
		}

		.google {
			--background: #DB4437;
			--color: #fff;
		}
	}
}